<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>{% block title %}Notejam{% endblock %}</title>

	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->

	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/skeleton/1.2/base.min.css">
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/skeleton/1.2/skeleton.min.css">
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/skeleton/1.2/layout.css">
	<link rel="stylesheet" href="/static/css/tables.css">
	<link rel="stylesheet" href="/static/css/style.css">

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
  {% block extrahead %}{% endblock %}
</head>
<body>
  <div class="container">
    <div class="sixteen columns">
      <div class="sign-in-out-block">
        {% if current_user.is_authenticated %}
          {{ current_user.email}}:&nbsp; <a href="{{ url_for('account_settings') }}">Account settings</a>&nbsp;&nbsp;&nbsp;<a href="{{ url_for('signout') }}">Sign out</a>
        {% else %}
          <a href="{{ url_for('signup') }}">Sign up</a>&nbsp;&nbsp;&nbsp;<a href="{{ url_for('signin') }}">Sign in</a>
        {% endif %}
      </div>
    </div>
    <div class="sixteen columns">
      <h1 class="bold-header">
        <a href="{{ url_for('home') }}" class="header">note<span class="jam">jam: </span></a>
        {% block page_title %}
          <span>All notes</span>
        {% endblock %}
      </h1>
    </div>
    {% block pads %}
    <div class="three columns">
      <h4 id="logo">My pads</h4>
      <!-- pad template tag -->
      <nav>
        {% if pads %}
        <ul>
          {% for pad in pads %}
            <li><a href="{{ url_for('pad_notes', pad_id=pad.id) }}">{{ pad.name }}</a></li>
          {% endfor %}
        </ul>
        {% else %}
          <p class="empty">No pads</p>
        {% endif %}
        <hr />
        <a href="{{ url_for('create_pad') }}">New pad</a>
      </nav>
      <!-- end of pad template tag -->
    </div>
    {% endblock %}
    <div class="{% block content_class %}thirteen columns content-area{% endblock %}">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <ul class="alert-area">
            {% for category, message in messages %}
              <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
      {% block content %}
      {% endblock %}
    </div>
    <hr class="footer" />
    <div class="footer">
      <div>Notejam: <strong>Flask 1.01</strong> application</div>
      <div><a href="https://github.com/komarserjio/notejam">Github</a>, <a href="https://twitter.com/komarserjio">Twitter</a>, created by <a href="https://github.com/komarserjio/">Serhii Komar</a></div>
    </div>
  </div><!-- container -->
  <a href="https://github.com/komarserjio/notejam"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
</body>
</html>

